<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Main</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div><p class="my-5">Hello <span th:utext= "${user}"></span> . Твои полномочия на сайте: <span th:utext= "${role}"></p></div>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${productsadmin}" class="container my-5">
                <p class="my-5">
                    <a href="/products" class="btn btn-primary">
                        <i class="fas fa-user-plus ml-2"> Показать все товары </i></a>
                </p>


            </div>
        </div>
        <div>
<!--            <p>Показать все заказы</p>-->
            <form th:action="@{/orders}" method="get">
<!--                <div><label>Введите название продукта:<input type="text" name="productname"/> </label></div>-->
                <!--                <p><b>Введите название продукта:</b>-->
                <!--                    <input type="text" size="40">-->

                <input type="submit" class="btn" value="Показать все заказы" />
            </form>
        </div>
        <div>
            <p class="my-5">
            <form th:action="@{/searchproduct}" method="get">
                <div><label>Введите название продукта:<input type="text" name="productname"/> </label></div>
                <!--                <p><b>Введите название продукта:</b>-->
                <!--                    <input type="text" size="40">-->

                <input type="submit" class="btn" value="Подобрать" />
            </p>
            </form>
        </div>

        <form>
            <p class="my-5">
                <a th:href="@{/addproduct/}" class="btn btn-primary">
                    <i class="fas fa-user-plus ml-2">Add Product </i></a>
            </p>
        </form>

    </div>
</div>
</div>
</body>

</html>