<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Order details</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="col-md-10">

    <p class="my-5">Заказ № <span th:utext= "${order}"></span></p>

        <table class="table table-striped table-responsive-md">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${productEntities}">
                <td th:text="${item.product.id}"></td>
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.product.description}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.size}"></td>
            </tr>
            </tbody>
        </table>


</div></div>
</body>

</html>