<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${orders}" class="container my-5">

                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>Id</th>
<!--                                <th>Name</th>-->
<!--                                <th>Description</th>-->
                                <th>Price</th>
                                <th>Детали заказа</th>
                                <th>Пользователь</th>
                            </tr>

                            </thead>
                            <tbody>
                            <tr th:each="order : ${orders}">
                                <td th:text="${order.id}"></td>
                                <td th:text="${order.price}"></td>
                                <td>
                                <a th:href="@{/order/{id}(id=${order.id})}" class="btn btn-primary">
                                    <i class="fas fa-user-times ml-2">Детали заказа</i>
                                </a>
                                </td>
                                <td th:text="${order.user.username}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>
</body>

</html>