<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Products</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">-->
</head>

<body>
<div class="container my-2">
    <div class="card">
        <div class="card-body">
            <div th:switch="${products}" class="container my-5">

                <form>
                    <p class="my-5">
                        <a th:href="@{/addproduct/}" class="btn btn-primary">
                            <i class="fas fa-user-plus ml-2">Add Product </i></a>
                    </p>
                </form>

                <div  th:text="${basket}"></div>

                <div class="col-md-10">
                    <h2 th:case="null">No record found !!</h2>
                    <div th:case="*">
                        <!--                        <form th:action="@{/neworderposition}" th:object="${products.id}" method="post">-->
                        <table class="table table-striped table-responsive-md">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="product : ${products}">
                                <td th:text="${product.id}"></td>
                                <td th:text="${product.name}"></td>
                                <td th:text="${product.description}"></td>
                                <td th:text="${product.price}"></td>
                                <td>
                                    <a th:href="@{/editproduct/{id}(id=${product.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-edit ml-2">Изменить</i>
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/delete/{id}(id=${product.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2">Удалить</i>
                                    </a>
                                </td>
                                <td>

                                    <a th:href="@{/products/{id}(id=${product.id})}" class="btn btn-primary">
                                        <i class="fas fa-user-times ml-2">В корзину</i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!--                        </form>-->
                    </div>

                </div>

                <form action="#" th:action="@{/addorder}" th:object="${productEntities}" method="post">
                    <p class="my-5">
                        <!--                        <a th:href="@{/addorder/}" class="btn btn-primary">-->
                        <!--                            <i class="fas fa-user-plus ml-2">Создать заказ</i></a>-->
                    <div class="col-md-6">
                        <input type="Submit" class="btn btn-primary" value="Создать заказ">
                    </div>
                    </p>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>